.experience__container {
content: "";
  display: table;
  clear: both;
}

.experience__container > div {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experience__container > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experience__container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.experience_content {
    display: inline-block;
    /* grid-template-columns: 1fr 1fr; */
    row-gap: 2rem;
}

.experience_details {
    width: 50%;
    gap: 1rem;
}

.skill_container {
    float: left;
    width: 46%;
    margin: 0 1rem 0 1rem;
}

#soft_skills{
    float: right;
}

.experience__details-icon {
    margin-top: 6px;
    color: var(--color-primary);
}

h3 {
    margin: -1rem 0 3rem 0;
}



/* ========================= MEDIA QUERIES (MEDIUM DEVICES) ======================== */

@media screen and (max-width : 1024px) {
    .experience__container {
        grid-template-columns: 1fr;
    }

    .experience__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
    
        
    .experience_content {
        padding: 1rem;
    }
    
}

/* ========================= MEDIA QUERIES (SMALL DEVICES) ======================== */

@media screen and (max-width : 600px) {
    .experience__container {
        gap: 1rem;
    }

    .experience__container > div {
        width: 100%;
        padding: 2rem 1rem;
    
    }
    
}